@model DOTNET_MVC.Models.Employee
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form action="~/Employee/Edit" method="post">

    <table>


        <tr>

            <td>Name</td>
            <td><input type="text" id="Name" name="Name" value="@Model.Name" /> 
            <input type="hidden" value="@Model.Id" name="Id" />
            </td>
        </tr>

        <tr>
            <td>Salary</td>
            <td><input type="text" id="Salary" name="Salary" value="@Model.Salary" /></td>
        </tr>
        <tr>
            <td>email</td>
            <td><input type="text" id="Email" name="Email" value="@Model.Email" /></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type="text" id="Password" name="Password" value="@Model.Password" /></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="text" id="Confirm_pwd" name="Confirm_pwd" value="@Model.Confirm_pwd" /></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" id="Age" name="Age" value="@Model.Age" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" id="Address" name="Address" value="@Model.Address"/></td>
        </tr>
        <tr>
            <td colspan="2"> <input type="submit" value="Submit" /></td>

        </tr>
        
    </table>




</form>
